<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h1>Edit BLog</h1>
<p>
    <a href="/blogs">Blog List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div>
    <form th:action="@{/edit-blog}" th:object="${blog}" method="post", enctype="multipart/form-data">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><input type="text" th:field="*{content}"></td>
            </tr>
            <tr>
                <td>Image:</td>
                <td><input type="file" th:field="*{image}"></td>
                <td><img width="150px" height="150px" th:src="@{'/i/' + ${blog.image}}"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Update Employee">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>